@import "styles/breakpoints.scss";
@import "styles/colors.scss";

.item {
  border-bottom: 1px solid $gray;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 70%;

  @media (max-width: $mobile) {
    width: 100%;
  }

  @media (max-width: $tablet) {
    width: 60%;
  }
}

.title {
  color: $blue;
}

.content span {
  font-size: 14px;
}

.imageContainer {
  max-width: 125px;
  min-width: 125px;
  margin-right: 5px;

  @media (max-width: $mobile) {
    display: none;
  }
}

.image {
  width: 100%;
  max-width: 125px;
}
