.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer {
  margin-top: 75px;
  width: 75%;
  height: 100%;
}

.header {
  margin-bottom: 5px;
  a {
    color: black;
  }
}

.location {
  margin-bottom: 40px;
}

.description {
  margin-bottom: 40px;
}

.locationIcon {
  margin-bottom: 5px;
  img {
    max-height: 30px;
  }
}

.cameraIcon {
  display: flex;
  align-items: center;
  margin-left: -5px;

  img {
    max-height: 40px;
  }
}
