@import "styles/breakpoints.scss";
@import "styles/colors.scss";

.wrapper {
  position: relative;
}

.listContainer {
  height: 500px;
  overflow: auto;
}

.listView {
  display: flex;
  justify-content: center;
}

.description {
  width: 50%;
  margin-top: 40px;
}

.title {
  text-align: center;

  @media (max-width: $tablet) {
    width: 70%;
  }

  @media (max-width: $mobile) {
    width: 90%;
  }
}

.listContent {
  width: 60%;
  margin-top: 450px;

  @media (max-width: $mobile) {
    margin-top: 100px;
  }
}

.loader,
.error {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}
