.wrapper {
  position: relative;
}

.listContainer {
  height: 500px;
  overflow: auto;
}

.listBtn {
  margin-bottom: 30px;
  background-color: #191308;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: 700;
  padding: 17px 0;
  padding: 1.0625rem 0;
  text-transform: uppercase;
  width: 220px;
  margin-bottom: 30px;
}

.btnText {
  color: #fff;
}

.listView {
  display: flex;
  justify-content: center;
}

.description {
  width: 50%;
  margin-top: 40px;
}

.title {
  text-align: center;

  @media (max-width: 800px) {
    width: 70%;
  }

  @media (max-width: 400px) {
    width: 90%;
  }
}

.listContent {
  width: 60%;
  margin-top: 450px;
}

.loader,
.error {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}
