.nav {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header {
  height: 75px;
  background-color: #191308;

  a {
    text-decoration: none;
  }
}

.content {
  height: 100%;
  margin-left: 30px;
  width: auto;
  display: flex;
  align-items: center;

  @media (max-width: 800px) {
    margin-left: 0;
  }

  @media (max-width: 769px) {
    justify-content: center;
  }
}

.title {
  color: #fff;
  margin: 0;
  font-size: 1.75em;
}
