@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './styles/NavBar.css';
@import './styles/ParkContent.css';
@import './styles/ParkView.css';
@import './styles/ParkList.css';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
