@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './styles/NavBar.css';
@import './styles/ParkContent.css';
@import './styles/ParkList.css';
@import './styles/ListItem.css';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.loader, .error-message {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
