@import "styles/breakpoints.scss";

.image {
  height: 375px;
  width: 100%;
  background: url("./../../images/badlands.jpeg") no-repeat center;
  background-size: cover;

  @media (max-width: $mobile) {
    display: none !important;
  }
}
